body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 20px;
}
.container{
    background-color: antiquewhite;
    padding: 20px;
    border: 4px solid greenyellow;
    border-radius: 20px;
}
h2{
    color: greenyellow;
    background-color: purple;
    text-align: center;
    
}
.blue{
    color: rgb(0, 255, 42);
    font-size:x-large;
    align-self: center;
    
}
.we{
    color: rgb(226, 43, 195);
    text-align: center;
    font-size: x-large;

}
.image{
    color: greenyellow;
    aspect-ratio :;
    object-fit: contain;
    mix-blend-mode:color-burn;
}
.over{
    color: gold;
    font-size: x-large;
}
.cra{
    color:rgb(240, 245, 245);
    font-weight: 1100;
    font-size: x-large;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 0px 0px rgb(127, 47, 255);

}
nav{
    background-color: black;
    color:rgb(0, 162, 255);
    padding: 30px;
    font-size: large;

}
nav a{
    color:orangered;

}
th{
    color:navy
}
p span a{
    color:crimson;
    background-color: rgb(12, 12, 12);
}
ul{
    color:yellow;
    font-size: larger;
}
ul li ol{
    color: royalblue;
    font-size: medium;
}
nav a:hover{
    color: rgb(43, 226, 113);
}

input{
    border-radius: 4px 2px;
    padding: 5px;
}
.he{
    text-align: center;
}
input[type="submit"]{
    background-color: blueviolet;
    align-content:center;
    border: none;
    cursor:alias;
    width:100%;
    font-size:30px;
    padding:10px;
}
