.payee{
    border: 5px;
    margin: 10px;
    background: linear-gradient(#FBD6D2,#CE49BF) fixed ;
}
body{
    position: relative;
    top:10%;
    padding-left: 40%;
    padding-right: 40%;
    
    padding-top: 13%;
    font-family: ;
}


input[type="submit"]{
    background-color: rgb(255, 0, 234);
    align-content: center;
    
    
    

}
